h2{
    background-color: aquamarine;
    display: inline;
}
p{
    background-color: yellow;
    display: inline;
}
span{
    background-color: red;
}
li{
    background: chartreuse;
    display: inline;
}
